/**css-init**/
body {
  width: 100%;
  margin: 0px;
}

.H1 {
  width: 100%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  position: fixed;
}

.vide {
  height: 55px;
} 
.i1 {
  width: 50px;
  margin-left: 50px;
}

.H2 {
  width: 100%;
  margin: auto;
  height: 50px;
  display: flex;
  background-color: rgba(223, 73, 58, 1);
}

.title_red {
  margin: auto;
  color: rgba(255, 255, 255, 0.5773);
  margin-left: 280px;
}

.learn_more {
  margin: auto;
  color: rgba(255, 255, 255, 0.673);
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  height: 20px;
  width: 150px;
  border: 1px solid rgba(255, 255, 255, 0.573);
  border-radius: 5px;
  margin-right: 100px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.x {
  margin: auto;
  color: rgba(255, 255, 255, 0.473);
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  margin-left: 120px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.title_black {
  margin: auto;
  text-align: center;
  width: 60%;
  font-size: 130%;
  margin-top: 20px;
}

.title_blueu {
  margin: auto;
  text-align: center;
  color: rgba(94, 204, 183, 1);
  width: 60%;
  font-size: 250%;
  margin-bottom: 30px;
}

.title_header2 {
  margin: auto;
  text-align: center;
  width: 60%;
  font-size: 190%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.H3 {
  width: 40%;
  margin: auto;
  display: flex;
  margin-bottom:50px;
}
 
.H3_left {
  height: 40px;
  width: 250px;
  display: flex;
  margin-right: 5px;
}

.Google {
  height: 40px;
  width: 200px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: rgba(31, 35, 103, 1);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.s {
  height: 50px;
  width: 50px;
  margin-left: 0px;
  background-color: rgba(31, 35, 103, 0.789);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.i2 {
  margin-left: 10px;
  margin-top: 15px;
  width: 18px;
}

.H3_right {
  height: 40px;
  width: 250px;
  display: flex;
  margin-right: 5px;
}

.Microsoft {
  height: 40px;
  width: 200px;
  padding-left: 30px;
  padding-top: 10px;
  background-color: rgba(31, 35, 103, 1);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.s {
  height: 50px;
  width: 50px;
  margin-left: 0px;
  background-color: rgba(31, 35, 103, 0.789);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.i3 {
  margin-left: 10px;
  margin-top: 15px;
  width: 18px;
}

.H3_text {
  text-align: center; 
  margin-bottom: 0px;
  font-size: 100%;
  font-weight: 100;
}

.l1 {
  width: 8%;
  height: 1px;
  background-color: rgb(94, 204, 183);
  margin-top: 5px;
}

.bg {
  width: 100%;
  height: 450px;
  background-image: url(./images/group.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -110px;
}


.slide1 {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  margin-top: -100px;
  margin-bottom: 50px;
}

.btn_gauche {
  width: 60px;
  font-size: 350%;
  margin-left: 40px;
  margin-right: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgba(223, 72, 58, 0.685);
  text-decoration: none;
  list-style-type: none;
  position: relative;
  top: 35px;
}

#sl {
  height: 43px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 18px;
}

.btn_droite {
  width: 60px;
  font-size: 350%;
  margin-left: 20px;
  margin-right: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgba(223, 72, 58, 0.685);
  text-decoration: none;
  list-style-type: none;
  position: relative;
  top: 35px;
}

.slide2 {
  display: flex;
  width: 90%;
  height: 300px;
  margin: auto;
  text-align: center;
}

.box1 {
  width: 30%;
  height: 300px;
  margin: auto;
  border: none;
  box-shadow: 0px 0px 75px 0px rgba(230, 184, 184, 0.32);
  border-radius: 20px 20px 20px 20px;
}

.box1_haut {
  width: 100%;
  height: 100px;
  margin: auto;
  background-image: url(./images/145.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 20px 20px 0px 0px;
}

.over_layer {
  width: 100%;
  height: 100px;
  margin: auto;
  margin-top: -100px;
  background-color: rgba(64, 209, 182, 0.5);
  border: none;
  border-radius: 20px 20px 0px 0px;
}

.box1_bas {
  width: 100%;
  height: 100px;
  margin: auto;
  border: none;
  border-radius: 0px 0px 20px 20px;
}

.h1_text1 {
  text-align: center;
  font-weight: 100;
  font-size: 210%;
}

.h3_text1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: justify;
  font-size: 23px;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 100;
}

.read_more1 {
  margin-left: 220px;
  margin-top: 10px;
  list-style-type: none;
  text-decoration: none;
  color: rgba(223, 72, 58, 0.968);
}

.box2 {
  width: 30%;
  height: 300px;
  margin: auto;
  border: none;
  box-shadow: 0px 0px 75px 0px rgba(230, 184, 184, 0.32);
  border-radius: 20px 20px 20px 20px;
}

.box2_haut {
  width: 100%;
  height: 100px;
  margin: auto;
  background-image: url(./images/147.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 20px 20px 0px 0px;
}

.box2_bas {
  width: 100%;
  height: 100px;
  margin: auto;
  border: none;
  border-radius: 0px 0px 20px 20px;
}

.h1_text2 {
  text-align: center;
  font-weight: 100;
  font-size: 210%;
}

.h3_text2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: justify;
  font-size: 23px;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 100;
}

.read_more2 {
  margin-left: 220px;
  margin-top: 10px;
  list-style-type: none;
  text-decoration: none;
  color: rgba(223, 72, 58, 0.968);
}

.box3 {
  width: 30%;
  height: 300px;
  margin: auto;
  border: none;
  box-shadow: 0px 0px 75px 0px rgba(230, 184, 184, 0.32);
  border-radius: 20px 20px 20px 20px;
}

.box3_haut {
  width: 100%;
  height: 100px;
  margin: auto;
  background-image: url(./images/149.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 20px 20px 0px 0px;
}

.box3_bas {
  width: 100%;
  height: 100px;
  margin: auto;
  border: none;
  border-radius: 0px 0px 20px 20px;
}

.h1_text3 {
  text-align: center;
  font-weight: 100;
  font-size: 210%;
}

.h3_text3 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: justify;
  font-size: 23px;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 100;
}

.read_more3 {
  margin-left: 220px;
  margin-top: 10px;
  list-style-type: none;
  text-decoration: none;
  color: rgba(223, 72, 58, 0.968);
}

.text {
  margin-top:80px;
  margin-left: 50px;
  font-size: 160%;
  font-weight: 200;
  text-transform: uppercase;
}

.l2 {
  height: 0px;
  background-color: rgb(0, 0, 0);
  margin-top: -30px;
  margin-left: 450px;
  margin-right: 90px; 
}

.H4 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 120px;
}

.i4 {
  margin-bottom: 20px;
}

.H4_blueu {
  text-align: center;
  color: rgba(31, 35, 103, 1);
}

.flex {
  width: 90%;
  display: flex;
  margin: auto;
  margin-bottom: 0px;
}

.flex_left {
  width: 40%;
  margin: auto;
  margin-top: 30px;
}

.flex_right {
  width: 100%;
  margin: auto;
  text-align: justify;
  margin-top: 120px;
  margin-left: 90px;
  margin-right: 50px;
  line-height: 30px;
  font-size: 150%;
  font-weight: 300;
}

.i5 {
  width: 400px;
  margin-left: 20px;
}

.i5 {
  width: 400px;
  margin-left: 20px;
}

.i6 {
  margin-left: 150px;
  width: 600px;
  height: 100px;
}


.H5 {
  background-color: rgb(31, 35, 103);
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.h {
  margin-top: 50px;
  margin-bottom: 100px;
}


.feat {
  color:rgba(255, 255, 255, 1);
  margin-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: 300;
}

.l3 {
  margin-left: 240px;
  margin-right: 850px;
  margin-top: -135px;
}

.i11 {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 80px;
  margin-left: 640px;
}

.h3_hh{
  text-align: center;
  color:rgba(255, 255, 255, 1);
  font-size: 150%;
  font-weight: 200;
}



.blocs {
  margin: auto;
  width: 100%;
}

.bloc_haut {
  margin: auto;
  width: 90%;
  display: flex;
  margin-bottom: 100px;
}

.bloc1 {
  margin: auto;
  height: 300px;
  width: 20%;
  background: rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 5px;
}

.bg_bloc1 {
  color: rgba(31, 35, 103, 1);
  background-color: rgba(223, 73, 58, 1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.h2_text5 {
  text-align: justify;
  margin-left: 20px;
  height: 50px;
  color: rgba(31, 35, 103, 1);
  font-size: 150%;
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 30px;
}

.h4_text5 {
  height: 160px;
  padding-top: 42px;
  margin-left: 20px;
  font-size: 80%;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 1px;
}

#bg {
 margin-bottom: -115px;
 width: 60px;
 margin-left: 40px;
}

.bloc2 {
  margin: auto;
  height: 300px;
  width: 20%;
  background: rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 5px;
}

.bg_bloc2 {
  color: rgba(31, 35, 103, 1);
  background: rgba(244, 209, 71, 1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bloc3 {
  margin: auto;
  height: 300px;
  width: 20%;
  background: rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 5px;
}

.bg_bloc3 {
  color: rgba(31, 35, 103, 1);
  background: rgba(237, 157, 94, 1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.bloc4 {
  margin: auto;
  height: 300px;
  width: 20%;
  background: rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 5px;
}

.bg_bloc4 {
  color: rgba(31, 35, 103, 1);
  background: rgba(109, 160, 161, 1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bloc_bas {
  margin: auto;
  width: 90%;
  display: flex;
  margin-bottom: 100px;
}

.bloc5 {
  margin: auto;
  height: 300px;
  width: 20%;
  background: rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 5px;
}

.bg_bloc5 {
  color: rgba(31, 35, 103, 1);
  background: rgba(220, 233, 233, 1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.bloc6 {
  margin: auto;
  height: 300px;
  width: 20%;
  background: rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 5px;
}

.bg_bloc6 {
  color: rgba(31, 35, 103, 1);
  background: rgba(237, 199, 184, 1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bloc7 {
  margin: auto;
  height: 300px;
  width: 20%;
  background: rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 5px;
}

.bg_bloc7 {
  color: rgba(31, 35, 103, 1);
  background: rgba(217, 122, 163, 1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bloc8 {
  margin: auto;
  height: 300px;
  width: 20%;
  background: rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 5px;
}

.bg_bloc8 {
  color: rgba(31, 35, 103, 1);
  background: rgba(159, 185, 200, 1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.block_flex {
  width: 100%;
  display: flex;
  
}
 .ft_left { 
  margin-left: 100px;
  margin-bottom: 100px;
  color: rgba(94, 204, 183, 1);
  font-size: 160%;
  letter-spacing: 2px;
  word-spacing: 2px;
 }

 .ft_right { 
  margin-left: 300px;
  color: rgba(94, 204, 183, 1);
  margin-bottom: 100px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 160%;
 }

.l5 {
  font-size: 150%;
  height: 2px;
  background-color: rgba(94, 204, 183, 1);
}

.lv2 {
  margin-top: -350px;
  margin-bottom: -400px;
  margin-left: 800px;
}

.H6 {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 80px;
}

.flex1 {
  width: 100%;
  display: flex;
  margin: auto;
}

.i6 {
  margin-left: 150px;
  margin-right: 50px;
  width: 600px;
  height: 300px;
  border: 2px solid rgba(223, 73, 58, 0.814);;
}

.block {
  display: block;
  width: 100%;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 40px;
}

.h3_text6 {
  text-align: justify;
  color: rgba(223, 73, 58, 0.814);
  font-size: 160%;
  font-weight: 100;
}

.h4_text6 {
  text-align: justify;
  color: rgba(7, 7, 7, 0.614);
  margin-top: 40px;
  font-size: 150%;
  font-weight: 200;
  line-height: 35px;
}

.h5_text6 {
  text-align: left;
  margin-top: 100px;
  font-size: 180%;
  font-weight: 200;
  margin-left: 50px;
}

.l4 {
  margin-top: -65px;
  margin-left: 420px;
  margin-right:750px;
}

.pre {
  text-align: center;
}
.i7 {
  margin-top: 50px;
  margin-left: 10px;
  width: 100px;
}

.b {
  font-size: 200%;
  color: rgba(31, 35, 103, 1);
  margin-bottom: 100px;
}


.profils {
  display: flex;
  height: 200px;
  width: 80%;
  border: none;
  margin: auto;
  text-align: center;
  margin-bottom: -150px;
}
.profil {
  width: 250%;
  margin-left: 80px;
  margin-right: 40px;
}

.icons {
  display: flex;
  height: 200px;
  width: 80%;
  border: none;
  margin: auto;
  text-align: center;
  margin-bottom: 80px;
}

#icon {
  width: 25%;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 75px 0px rgb(240, 232, 232);
  margin-left: 80px;
  margin-right: 40px;
}

#i {
  width: 100px;
} 

.h4_icon {
font-size: 120%;
color: rgba(80, 95, 152, 1);
margin-top: 100px;
margin-bottom: 20px;
}

.h3_icon {
  font-size: 200%;
  color: rgba(31, 35, 103, 1);
  margin-top: 20px;
  margin-bottom: 0px;
}

.lv1 {
  margin-top: -400px;
  margin-bottom: -100px;
  margin-left: 450px;
}

.H7 {
  width: 100%;
}

.h3_text7 {
  margin-top: 50px;
  font-size: 300%;
  font-weight: 300;
}

.H7_flex {
  display: flex;
  text-align: center;
  margin-left: 450px;
}

.send {
  text-decoration: none;
  height: 40px;
  width: 220px;
  background: rgb(94, 204, 183);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 140%;
  padding-top: 15px;
 
}

.h4_text7 {
  text-align: center;
  font-size: 130%;
  font-weight: 300;
  color: rgb(94, 204, 183);
  margin-top: 15px;
  margin-left: 20px;
}

.i8{
  margin-left: 20px;
  width: 30px;
  height: 20px;
  margin-top: 15px;
}

.lv {
  margin-top: -80px;
  margin-bottom: -330px;
  margin-left: 800px;
}


.footer {
  display: flex;
  width: 100%;
  height: 220px;
  background-color: rgba(31, 35, 103, 1);
}

.footer1 {
  display: block;
  width: 30%;
  color: white;
  font-size: 50%;
  margin-left: 80px;
  margin-right: 10px;
}
.i9 {
  width: 150px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer2 {
  width: 20%;
  color: white;
  line-height: 30px;
  font-weight: 100;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 30px;
}

.footer2 li {
  list-style: none;
  text-align: justify;
}

a {
  text-decoration: none;
  color: white;
  font-size: 100%;
}

.footer3 {
  width: 20%;
  color: white;
  line-height: 30px;
  font-weight: 100;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 30px;
}

.footer3 li {
  list-style: none;
  text-align: justify;
}

a {
  text-decoration: none;
  color: white;
  font-size: 100%;
}

.footer4 {
  width: 30%;
  color: white;
  line-height: 30px;
  font-weight: 100;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.footer4_icon {
  display: flex;
  margin-top: 20px;
  width: 80%;
}

li {
  list-style: none;
}

.icon {
  margin-top: 20px;
  margin-left: 0px;
  width: 25%;
}